# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.env/
.venv/
env/
venv/
mm-env/

# Environment variables
.env

# Pyenv
.python-version

# Logs
*.log

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db
